::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}


::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}

.el-dialog--center .el-dialog__body {
  padding: 25px 25px 20px
}

.app-main[data-v-078753dd] {
  min-height: calc(100vh - 8vh);
  width: 100%;
  position: relative;
  overflow: hidden;
  background: rgba(231, 236, 239, 1);
}

div .el-menu-item-group__title {
  padding: 0;
  line-height: normal;
  font-size: 12px;
  color: #909399;
}

.test li.el-menu-item-group {
  height: 40px;
  border-bottom: 2px solid rgb(231, 236, 239);
  border-top: 2px solid rgb(231, 236, 239);
}


.form-layout {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 40%;
}
